<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421943540928-9elt3sj46587inae4n94m04g2v7m7djr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421943540928-9elt3sj46587inae4n94m04g2v7m7djr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>421943540928-5n8pmaks1igdsfqh3call266mbq7ud8f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB08nXlIIGG7lvRRNb_k1OzSil518PcIEc</string>
	<key>GCM_SENDER_ID</key>
	<string>421943540928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>slitherlink.com.puzzle.glorygem.slitherlinkProject</string>
	<key>PROJECT_ID</key>
	<string>flutterslitherlink</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterslitherlink.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421943540928:ios:797bd3c7e88a33fffac125</string>
</dict>
</plist>